.container.offset {
    top: 45px !important;
}

.overlay-wrapper {
    display: none;
}

#memeview_overlay {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    background: rgba(255, 255, 255, 0.0);
}